#header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: bisque;
  height: 50px;
}

#header-links-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-right: 1rem;
}

#header-name {
  padding-left: 1rem;
}